body{
    background: #575555;
    font-family: Arial, Helvetica, sans-serif;
}

#calculadora{
    width: 215px;
    margin: 200px auto;
    background: #2f2f2f;
    border: 3px solid #000;
    border-radius: 15px;
    padding: 0px 15px 15px 15px;
}

.logo{
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

#header{
    max-width: 215px;
}

#tela{
    max-width: 215px;
    height: 75px;
    background: rgb(208, 233, 229);
    margin-top: 3px;
    font-size: 3rem;
    font-weight: bold;
    color: #20d158;
    padding: 5px 0 0 10px;
}

#botoes{
    grid: 30px;
}

button{
    width: 50px;
    height: 70px;
    border-radius: 5px;
    border: none;
    background: #fff;
    margin-top: 3px;
    font-size: 3rem;
    font-weight: bold;
    color: #11ad42;
}

.botaoAcao{
    color: #e05d44;
    background: #e7e7e7;
}

