*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: #8a2be2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    margin-bottom: 4vh;
}